@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    
}

.priemraseccion{
    background-image: url(../assets/images/banner-bk.jpg);
    padding: 50px 250px 80px 250px;
    color: #fff;
}

.barradenavegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.subprimeraseccion h1{
    font-size: 70px;
    margin: 0 0 50px 0;
}

.subprimeraseccion p{
    line-height: 2;
    font-size: 20px;
    color: #ffffffc9;
    margin: 0 0 20px 0;
}

.botonprimeraseccion{

    text-decoration: none;
    font-size: 30px;
    color: black;
    background-color: rgb(0, 255, 187);
    padding: 10px;
    border-radius: 20px;

}